<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
	<div>
		<h4>Dettagli categoria</h4>
	</div>
	<div>
		<span th:text="${categoria.nome}">nome categoria</span>
   	</div>
	<div>
		<span th:text="${categoria.descrizione}">descrizione categoria</span>
   	</div>
	<div><ul>
	<li th:each="corso : ${categoria.corsi}">
		<a href="corso.html"
			th:href="@{'/corso' + '/' + ${corso.id}}"
			th:text="${corso.nome}">corso1</a>
	</li>
	</ul></div>
	<footer><a href="/">Home</a></footer>
</body>
</html>