<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>
    	<header>
    		<button><a th:href="@{/user/categorie}">Categorie</a></button>
    	</header>
    	
    	<div>
    		<ul>
    			<li th:each="corsoPrenotato : ${prenotati}" >
    			<a href="corso.html" th:href="@{'/user/corso' + '/' + ${corsoPrenotato.id}}" th:text="${corsoPrenotato.nome}">
    				Nome Corso</a>
    			</li>
    		</ul>
    	</div>
    </body>
</html>