<!--PROGETTO SIWFIT-->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>
        <header>
           <img src="/logo.png">
        </header>
        
        <div id="login_wrapper">
            <div id="image_wrapper">

            </div>
            
            <div id="form_wrapper">
                <h1>Accedi al tuo account</h1>
                <div id="form">
                    <form th:action="@{/login}" method="POST" >
                        <div class="input_form"> 
                            <span><input type="text" placeholder="username"  name="username" required/></span>
                        </div>

                        <div class="input_form"> 
                            <span><input type="password" placeholder="password" name="password" required/></span>
                        </div>

                        <div id="login_butt">
                            <button type="submit">LOGIN</button>
                        </div>
                     
                    </form>
                </div>
                <a th:href="@{/register}">REGISTRATI</a>
            </div>
        </div>

       
    </body>
</html>
