<!--PROGETTO SIWFIT-->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>
        <header>
           <img src="/logo.png">
        </header>
        
        <div id="login_wrapper">
            <div id="image_wrapper">

            </div>
            <div id="form_wrapper">
                <h1>Accedi al tuo account</h1>
                <div id="form">
                    <form>
                        <div class="input_form"> 
                            <span><input type="text" placeholder="username"/></span>
                        </div>

                        <div class="input_form"> 
                            <span><input type="password" placeholder="password"/></span>
                        </div>

                        <div id="login_butt">
                            <a th:href="@{/user/homeuser}">LOGIN</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

       
    </body>
</html>
