<!--PROGETTO SIWFIT-->
<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="C:\Users\sim.diienno1\git\siw-progetto-siwfit\siw-progettoSiwFit\src\main\resources\static\index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>
        <header>
            <h1>SIWfit</h1>
        </header>
        <p>Introduzione</p>
        <div>
            <a th:href="@{/user/homeuser}">login</a>
        </div>
    </body>
</html>